/*======= common ========*/
/*======= 1 header ========*/
/*======= 2 main ========*/
/*======= 3 self-introduction ========*/

/*======= 
common 
========*/

:root {
  --headerH : 80px;
  --maxWidth : 1140px;
  /* --darkGreen : #266D6A; */
  --darkGreen : #333;
  --green : #00918C;
  /* --green : #333; */
  --lightGreen : #26CBC5;
  --yellow : #FFCA57;

  --spaceXl : 200px;
  --spaceL : 120px;
  --spaceM : 80px;
  --spaceR : 45px;
  --spaceS : 30px;
  --spaceXs : 16px;

  --fntXl : 80px;
  --fntL : 28px;
  --fntM : 18px;
  --fntS : 14px;
}

body {
  color: var(--yellow);
  font-size: var(--fntM);
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--darkGreen);
  background-image: linear-gradient(
    -80deg,
    black,black,black, black, black, black, black, black, 
    #152415, #2d1515,
    black, black, 
    #172417, #322619, 
    black, black, black, black, black);
}

.container {
  width: 1140px;
  margin-left: auto; margin-right: auto;
}
.paddings {
  padding-left: calc(var(--spaceM) / 2); padding-right: calc(var(--spaceM) / 2);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.col-lg-3 {
  max-width: 25%;
  width: 100%;
  padding: 0 calc(var(--spaceM) / 2) 
}
.col-lg-4 {
  max-width: 33.3333%;
  width: 100%;
  padding: 0 calc(var(--spaceM) / 2) 
}
.col-lg-4:nth-of-type(3n) {
  margin-right: 0;
}
.col-lg-6 {
  max-width: 50%;
  width: 100%;
  padding: 0 calc(var(--spaceM) / 2)
}
.col-lg-6:nth-of-type(2n) {
  margin-right: 0;
}
.col-lg-8 {
  max-width: 66.6666%;
  width: 100%;
  padding: 0 calc(var(--spaceM) / 2)
}
.col-lg-9 {
  max-width: 75%;
  width: 100%;
  padding: 0 calc(var(--spaceM) / 2)
}

button {
  font-size: var(--fntS); font-weight: 700; font-style: italic;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.ellipsis {
  display: -webkit-box;
  -webkit-box-origin: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-btn {
  position: relative;
  font-weight: 700; font-style: italic;
  transition: .4s
}
.menu-btn::before {
  content: '';
  width: 5px; height: 5px;
  positioN: absolute;
  background-color: var(--lightGreen);
  border-radius: 10px;
  transform: translateY(-10px);
  transition: .4s;
  opacity: 0;
}
.menu-btn:hover::before {
  transform: translateY(0);
  opacity: 1;
}
.dot {
  position: absolute; top: 0; bottom: 0; left: 0;
  width: 5px; height: 5px;
  margin: auto;
  background-color: var(--lightGreen);
  border-radius: 10px;
  transition: .4s;
  opacity: 0;
  animation: blinkDot infinite 2s;
}
@keyframes blinkDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*======= 
1 header 
========*/
header {
  position: relative;
  height: var(--headerH);
  background-image: linear-gradient(160deg, black, transparent)
}
.nav-wrap.sns,
.hamburger {
  display: none;
}
.hamburger {
  position: absolute; top: 0; right: 0;
  flex-direction: column;
  width: var(--headerH); height: var(--headerH);
  padding: 29.5px;
  justify-content: space-between;
}
.hamburger span {
  display: block;
  width: 100%; height: 1px;
  transform-origin: center;
  background-color: var(--yellow);
}
/* hamburger js start */
.hamburger.close {
  transition: .5s;
}
.hamburger.close span:first-child {}
.hamburger.close span:nth-of-type(2) {
  opacity: 1;
}
.hamburger.close span:last-child {}
.header-container {
  display: flex;
  max-width: var(--maxWidth);
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center; align-items: center;
}
.logo {
  position: absolute; left: calc(var(--spaceM) / 2); top: 0;
  height: var(--headerH);
}
.logo a {
  display: block;
  width: 75px; height: 100%;
  font-size: 0;
  background: url(../images/logo.svg) no-repeat center center / contain;
}
.logo a::before {
  content: none;
}
.nav-wrap {
  display: flex;
  margin-left: 75px;
}
.nav {}
.nav a {
  display: block;
  height: 100%;
  padding: 30px;
}
.nav a::before {
  top: 30%;
}
.contact-btn {
  position: absolute; right: calc(var(--spaceM) / 2);
  display: block;
  width: 120px; height: 50px;
  padding: 15px;font-weight: 900; color: var(--darkGreen);
  justify-content: space-between;
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 40px;
  overflow: hidden;
}
.contact-btn::before {
  content: 'contact me';
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  color: var(--darkGreen);
  line-height: 45px;
  transition: 1s;
  z-index: 1; 
}
.contact-btn > span {
  position: absolute; top: 110%;
  width: calc(100% / 4); height: 150px;
  background-color: var(--darkGreen);
  border-radius: 100px;
  /* z-index: -1; */
}
.contact-btn > span:nth-of-type(1) {
  left: 0;
  transition: .4s;
}
.contact-btn > span:nth-of-type(2) {
  left: calc(100% / 4);
  transition: .8s;
}
.contact-btn > span:nth-of-type(3) {
  left: calc(100% / 4 * 2);
  transition: 1s;
}
.contact-btn > span:nth-of-type(4) {
  left: calc(100% / 4 * 3);
  transition: 1.2s;
}
.contact-btn:hover::before {
  color: var(--yellow);
}
.contact-btn:hover > span {
  transform: translateY(-100px);
}
#menuBg {
  display: none;
}    

/*======= 
2 main 
========*/
main {}
.main-container {
  /* max-width: var(--maxWidth);
  width: 100%; */
  margin: auto;
}
/* figure */
figure {
  position: relative;
  width: 100%; height: calc(100vh - var(--headerH));
}
figure > img {
 width: auto; height: 100%;
 margin: auto;
}
figure > h2 {
  position: absolute; bottom: 20vh; 
 font-size: var(--fntL); font-weight: 900; font-style: italic; text-align: left;
}
figure > p {
  position: absolute; bottom: 0; 
  padding-left: 15px;
  color: var(--lightGreen);
  transform: rotateZ(270deg); transform-origin: left top;
}
/* work */
footer,
section {
  margin-top: var(--spaceL);
}
.section--work {
  width: 100%;
}
.work-container {
  width: 100%;
}
.work {
  margin-top: var(--spaceM);
}
.work:first-child {
  margin-top: 0;
}
.work a {
  display: block;
}
.work__img-container {
  /* height: 200px; */
  background-color: var(--yellow);
  border-radius: 30px;
  overflow: hidden;
}
.work__heading {
  width: 90%;
  margin-top: var(--spaceS);
  font-size: var(--fntL);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.work__text {
  color: var(--lightGreen); font-size: var(--fntS);
  margin-top: var(--spaceXs);
}

/*======= 
3 self-introduction 
========*/
.section--self-introduction {
  width: auto;
}

/*======= 
footer 
========*/
footer {
  padding-bottom: var(--spaceL);
  background-image: linear-gradient(-80deg, black, transparent)
}
.footer-container {}
.footer-figure {
  background: url(/images/footer_img.png) no-repeat center top / contain;
}

.footer-contact {
  padding: 0;
}
.contact {
  margin-top: var(--spaceM)
}
.contact__text {
  padding-top: var(--spaceXs);
  font-size: var(--fntS);
  border-top: 1px solid;
}
.contact__heading {
  padding-top: var(--spaceXs);
  font-size: var(--fntM); color: #fff; font-style: italic; font-weight: 700; word-break: break-all;
}

/*======= 
Work page starts 
========*/
.section--filter {
  margin-top: var(--spaceM);
}
.filter-text {
  font-size: var(--fntS);
}
.filter {}
.filter__button {
  margin-top: var(--spaceXs);
}
.filter__button button {
  font-size: var(--fntM);
}
.filter__button button:hover::before {
  transform: translateY(-5px)
}
.work-page {
  margin-top: var(--spaceM);
}

/*======= 
Work-detail page starts 
========*/
.header-float {
  position: absolute; top: 0; left: 0; right: 0;
  margin: auto;
  justify-content: space-between; align-items: center;
}
.close-btn {
  display: block;
  width: 41px; height: 41px;
  color: var(--darkGreen);
  background-color: var(--yellow);
  border-radius: 100px;
  transform: translateY(-25px)
}
.section--image-container {
  width: 100%; height: calc(100vh - 80px);
  background: url('/images/work_test_6.jpg') no-repeat center center / cover;
}
.section--project-explanation {
  margin-top: var(--spaceS);
}
.information--1 {
  font-size: var(--fntS);
}
.project-visit {
  position: relative;
  display: block;
  text-indent: var(--spaceXs);
}
.project-visit .dot {
  left: calc(var(--spaceM) / 2);
}
.project-category {
  color: var(--lightGreen);
}
.information--2 {
  margin-top: var(--spaceM);
  font-size: var(--fntL); line-height: 1.3;
}
.project-heading {
  font-weight: 900;
}
.project-text {}